/* Landing and InfoScreen styles */
    .logoLinkLanding, .logoLinkInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .logoLinkLanding {
        width: 50%;
    }
    .logoLinkInfo {
        width: 100%;
    }
    .logoLanding, .logoInfo,
    .buttonImgLanding, .buttonImgInfo {
        margin: auto;
        transition: transform 0.2s ease-in-out;
    }
    .logoLanding {
        width: 20%;
    }
    .logoInfo {
        width: 50%;
    }
    .logoLanding:hover, .logoInfo:hover,
    .buttonImgLanding:hover, .buttonImgInfo:hover {
        transform: scale(1.05);
    }
    .searchLanding, .searchInfo {
        font-family: 'Nanum Gothic', sans-serif;
    }
    .input-group-text.amber.lighten-3 {
        background: #ffffff;
    }
    .input-group-text.amber.lighten-3 i {
        color: #c7800e;
    }
    .input-group-text.amber.lighten-3:hover {
        background: #c7800e;
    }
    .input-group-text.amber.lighten-3:hover i {
        color: #ffffff;
    }
    .input-group-text.amber.lighten-3:focus {
        outline: none !important;
    }
    input.form-control:focus {
        outline: none !important;
        -webkit-appearance: none !important;
        box-shadow: none;
        border: 1px solid #ced4da;
    }
    input.form-control:focus::placeholder {
        color: #c6ccd2;
    }
    .searchLanding {
        width: 30vw;
    }
    .searchLanding input {
        font-size: 1.8em;
        margin-top: 2%;
    }
    .searchInfo {
        width: 75%;
    }
    .searchInfo input {
        font-size: 1.2em;
    }
    .buttonsLanding, .buttonsInfo {
        margin-top: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonsLanding {
        width: 45%;
        flex-direction: row;
    }
    .buttonsInfo {
        width: 100%;
        flex-direction: column;
        margin-top: 6%;
    }
    .buttonTitle {
        font-family: 'Spinnaker', sans-serif;
    }
    .buttonLanding, .buttonInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #f4f4f4;
        width: 100%;
    }
    .buttonInfo {
        padding-top: 5%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .buttonIsActive {
        background: rgba(0, 0, 0, 0.2);
    }
    .buttonImgLanding, .buttonImgInfo {
        display: flex;
        width: 140px;
        height: 140px;
        margin-bottom: 4%;
        border: transparent solid 6px;
        border-radius: 50%;
        cursor: pointer;
    }
    .buttonImgInfo {
        width: 100px;
        height: 100px;
    }
    .buttonImgLanding:hover, .buttonImgInfo:hover, .buttonImgIsActive {
        border: #f4f4f4 solid 6px;
    }
    h1 {
        color: #ffffff;
        font-size: 3rem;
        margin-bottom: 4%;
        font-family: 'Cabin', sans-serif;
    }
